/* .sidebar {
    /* Your sidebar styles */
    /* position: fixed;
    width: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #333;
    display: list-item; */
    /* Adjust the background color as needed */
/* } */ 

/* .custom-gradient {
    background-image: linear-gradient(to bottom, #eceff1, #d1d5db, #eceff1);
    
} */

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 999;
    /* Ensure it's above other content */
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

.back-to-top:hover {
    opacity: 1;
    bottom: 25px;
}

.trapezoid {
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%)
}